//@import "../assets/iconfont/iconfont.css";

html, body {
  height: 100%;
  min-width: 1200px;
}

body {
  font-size: 15px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDF2F8;
}

a:link, a:visited {
  text-decoration: none;
}

#container {
  min-height: 100%;
  display: flex;
  justify-content: stretch;
}

.logo {
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 6px;
  margin: 16px;
  color: #fff;
}

#wrap .breadcrumb {
  margin: 12px 0;
}

#wrap .content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}
div.tip{
  //margin-bottom: 24px;
}
.color-orange{
  color: orangered;
}
.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
  width: 150px;
  height: 150px;
}
.avatar-uploader.horizon,
.avatar-uploader-trigger.horizon,.avatar.horizon{
  width: 252px;
}
.avatar-uploader.vertical,
.avatar-uploader-trigger.vertical,.avatar.vertical{
  width: 102px;
}

.avatar-uploader {
  display: inline-block;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 8px;
}

.avatar-uploader-trigger {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #999;
}
img.avatar{
  vertical-align: middle;
}

.ant-input-number-lg input {
  display: block;
}

form .ant-input-number {
  //margin-top: 1px !important;
}

.ant-advanced-search-form {
  padding: 12px 0 0;
  background: #f2f2f2;
  border-radius: 6px;
  margin-bottom: 12px;
}

form .has-feedback .ant-calendar-picker-icon, form .has-feedback .ant-calendar-picker-clear {
  right: 8px
}

.ant-row-flex {
  flex-wrap: wrap !important;
}

.ql-snow .ql-picker, .ql-picker-label {
  font-size: 0px;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options, .ql-picker-label::before {
  font-size: 14px;
}

// 表格单元格编辑
.editable-cell {
  position: relative;
}

.editable-cell-input-wrapper,
.editable-cell-text-wrapper {
  padding-right: 24px;
}

.editable-cell-text-wrapper {
  padding: 5px 24px 5px 5px;
}

.editable-cell-icon,
.editable-cell-icon-check {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
}

.editable-cell-icon {
  line-height: 18px;
  //display: none;
}

.editable-cell-icon-check {
  line-height: 28px;
}

.editable-cell:hover .editable-cell-icon {
  display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #108ee9;
}

.editable-add-btn {
  margin-bottom: 8px;
}

.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
}

.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.vertical-center-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}

#components-tree-demo-draggable .draggable-tree .ant-tree-node-content-wrapper {
  width: calc(100% - 18px);
}

// 分类树
//.ant-tree li .ant-tree-node-content-wrapper{
//  width: 200px
//}
span.ant-tree-title {
  display: inline-block;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

span#newSpan {
  vertical-align: middle;
}

.operator-wrap {
  vertical-align: middle;
  margin-left: 10px;
}

.operate-icon {
  width: 25px;
  cursor: pointer;
}

.ant-tree li .ant-tree-node-content-wrapper:hover {
  background-color: #fff !important;
}

// 卡片列表
.list-box {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.col {
  text-align: center;
  margin: 10px 10px;
  width: 300px;
  height: 375px;
  border: 1px solid #ddd;
  border-radius: 3px;
  position: relative;
  .absolute {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
    transition-duration: .3s;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 3px;
    opacity: 0;
    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      white-space: nowrap;
      transition-duration: .3s;
      opacity: 0;
    }
  }
  .absolute.show {
    opacity: 1;
    transition-duration: .3s;
    span {
      opacity: 1;
      transition-duration: .3s;
    }
  }
  div.main-content {
    padding: 10px;
    height: 100%;
  }
  h1 {
    font-size: 17px;
    margin-bottom: 12px;
  }
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 5px 0px;
    height: 25px;
    line-height: 25px;
  }
  p:last-child {
    color: #999;
    font-size: 13px;
  }
  .flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -160px;
    transform: translate(0%, 50%);
    height: 320px;
    img {
      border-radius: 3px;
    }

  }
  .horizontal-one .flex-box {
    .img-box {
      width: 278px;
      height: 167px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
  .horizontal-two, .horizontal-four {
    .flex-box {
      flex-wrap: wrap;
      > div {
        margin: 10px 2px;
        width: 130px;
      }
      .img-box {
        width: 130px;
        height: 78px;
        overflow: hidden;
      }
      img {
        width: 100%;
      }
    }

  }
  .vertical {
    .flex-box {
      flex-wrap: nowrap;
      > div {
        width: 80px;
        margin: 0 3px;
      }
      .img-box {
        width: 100%;
        height: 120px;
        overflow: hidden;
        border-radius: 3px;
      }
      img {
        //width: 100%;
        height: 100%;
      }
    }
  }
}

.recommendForm {
  .col {
    width: 32%;
    height: 350px;
    display: inline-block;
    float: left;
    margin: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    .checked-icon{
      position: absolute;
      top: 5px;
      right: 5px;
      color:  #108ee9;
      font-size: 20px;
    }
    p{
      margin: 0;
      height: 25px;
      line-height: 25px;
    }
    .flex-box {
      height: 260px;
      margin-top: -130px;
    }
    .img-box{
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 3px;
    }
    .horizontal-one .flex-box {
      > div {
        width: 100%;
      }
      .img-box{
        width: 100%;
      }

    }
  }
  .col.selected{
    border-color: #108ee9;
  }
  .col .horizontal-two .flex-box >div , .col .horizontal-four .flex-box >div {
      margin: 2px 3px;
      width: 45%;
    .img-box{
      width: 100%;
    }
  }
  .col .vertical .flex-box > div{
    width: 33%;
  }
}

.footer{
  border-top: 1px solid #e9e9e9;
  padding: 10px 16px 0px 10px;
  text-align: right;
  border-radius: 0 0 4px 4px;
  margin-top: 16px;
}

//.ant-modal{
//  width: 1000px !important;
//}

// 颜色选择器
.sketch-picker input, .sketch-picker span{
  line-height: normal !important;
  width: 100% !important;
}

.ant-input-number-lg{
  height: 33px !important;
}
.ant-input-disabled{
  background-color: #fff !important;
  color: rgba(0,0,0, 0.65) !important;
}
form .ant-radio-checked .ant-radio-inner,form .ant-checkbox-checked .ant-checkbox-inner {
  border-color: #108ee9 !important;
}
form .ant-radio-disabled .ant-radio-inner,form .ant-checkbox-disabled .ant-checkbox-inner{
   //border-color: #108ee9 !important;
   background-color: #fff !important;
}
form .ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner{

}

.ant-radio-disabled .ant-radio-inner:after{
  background-color: #108ee9 !important;
}
.ant-checkbox-disabled .ant-checkbox-inner:after{
  border-color: #108ee9 !important;
}
.ant-radio-disabled + span,.ant-checkbox-disabled + span{
  color: rgba(0,0,0, 0.65) !important;
}

div.lable{
  width: 120px;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 10px;
  margin-right: 10px;
}

.searchBtn{
  height: 32px !important;
  line-height: 32px !important;
}

td.long_td{
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

label.label{
  margin-left: 8px;
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.85);
  display: inline-block;
  width: 60px;
  text-align: right;
}

// echarts图表
.echartsBox{
  width: 80%;
  height: 400px;
  margin: 0 auto 30px;
}
.flex-box{
  display: flex;
  //align-items: center;
  justify-content: center;
  .left_table{
    flex: 1;
  }
  .right_echart{
    width: 50%;
  }
}
